html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 16px/1.4 "Microsoft Yahei", "Miragino Sans GB", "Heiti SC", 
    "WenQuanYi Micro Hei", "sans-srif";
    color: #333;
    background-color: #f5f5f5;
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ul, ol {
    list-style: none;
}
em, i {
    font-style: normal;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    vertical-align: middle;
}
input {
    border: none;
    outline: none;
    color: #333;
}