html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    tab-size: 4;
    background-color: rgb(247, 249, 254);
}
body *, body *::after, body *::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #666;
}
input, button{
    outline: none;
    border: none;
}
a:hover {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
img {
    display: block;
    vertical-align: middle;
    border: 0;
}
i, em {
    font-style: normal;
}
table {
    border: 1px solid #999;
    border-spacing: 0;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #999;
}
.lfloat {
    float: left;
}
.rfloat {
    float: right;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}